Source: postgresql-dbpatch
Section: database
Priority: extra
Build-Depends: debhelper (>= 7),
               postgresql-server-dev-all
Standards-Version: 3.9.5
Maintainer: Ivan Mincik <imincik@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/postgresql-dbpatch.git
Vcs-Browser: https://github.com/linz/postgresql-dbpatch

Package: postgresql-9.4-dbpatch
Architecture: all
Depends: ${misc:Depends},
         postgresql-9.4
Recommends:
Description: PostgreSQL database patch change management extension. This
 extension supports conducting database changes and deploying them in a robust
 and automated way.

Package: postgresql-9.5-dbpatch
Architecture: all
Depends: ${misc:Depends},
         postgresql-9.5
Recommends:
Description: PostgreSQL database patch change management extension. This
 extension supports conducting database changes and deploying them in a robust
 and automated way.

Package: postgresql-9.6-dbpatch
Architecture: all
Depends: ${misc:Depends},
         postgresql-9.6
Recommends:
Description: PostgreSQL database patch change management extension. This
 extension supports conducting database changes and deploying them in a robust
 and automated way.

Package: postgresql-10-dbpatch
Architecture: all
Depends: ${misc:Depends},
         postgresql-10
Recommends:
Description: PostgreSQL database patch change management extension. This
 extension supports conducting database changes and deploying them in a robust
 and automated way.

Package: postgresql-11-dbpatch
Architecture: all
Depends: ${misc:Depends},
         postgresql-11
Recommends:
Description: PostgreSQL database patch change management extension. This
 extension supports conducting database changes and deploying them in a robust
 and automated way.
