#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export PREFIX=/usr

include /usr/share/postgresql-common/pgxs_debian_control.mk


override_dh_auto_build:
	+pg_buildext build $(CURDIR) .

override_dh_auto_test:
	# nothing to do here, see debian/tests/* instead

NEWEST_POSTGRES_VERSION = $(shell pg_buildext supported-versions $(CURDIR) | tail -1)

override_dh_auto_install:
	+pg_buildext install $(CURDIR) . postgresql-%v-dbpatch
	# Move the scripts only parts to separate package
	mkdir -p $(CURDIR)/debian/dbpatch/usr/share/
	mv $(CURDIR)/debian/postgresql-$(NEWEST_POSTGRES_VERSION)-dbpatch/usr/share/dbpatch/ \
	   $(CURDIR)/debian/dbpatch/usr/share/
	# Make sure not to include /usr/share/dbpatch/ in postgresql packages
	rm -rf $(CURDIR)/debian/postgresql-*-dbpatch/usr/share/dbpatch/
	# Shall we copy instead of moving ?
	mkdir -p $(CURDIR)/debian/dbpatch/usr/
	mv $(CURDIR)/debian/postgresql-$(NEWEST_POSTGRES_VERSION)-dbpatch/usr/bin/ \
	   $(CURDIR)/debian/dbpatch/usr/
	# Make sure not to include /usr/bin/ in postgresql packages
	rm -rf $(CURDIR)/debian/postgresql-*-dbpatch/usr/bin


%:
	dh $@
